{% extends 'main/base.html' %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="check_user_section_container_block">
            <div class="account_overview_block">
                <div class="back_url_account_overview_block">
                   <a style="font-size: 20px; color: red;" href="{% url 'check_users' %}"><-- Back</a></div>
                <div class="title_account_overview_block">
                   <h1 style="font-size: 20px; color: #073294;">Account</h1></div>
                <div class="profile_details_account_overview_block">
                    <div class="title_block_profile_details">
                        <h1 style="font-size: 20px; color: #073294;" >Profile Details</h1>
                        <div class="additional_services_title_block">
                            <form action="{% url 'delete_user' user.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" name="delete_user" value="{{ user.id }}">Delete</button>
                            </form>
                            <a href="{% url 'edit_user_profile' user.id %}">Edit profile</a>
                        </div>
                    </div>
                    <ul class="main_info_block_profile_details">
                        <li>
                            <p style="font-size: 15px; color: #073294">First name</p>
                            <span>{{ user.first_name }}</span>
                        </li>
                        <li>
                            <p style="font-size: 15px; color: #073294">Last name</p>
                            <span>{{ user.last_name }}</span>
                        </li>
                        <li>
                            <p style="font-size: 15px; color: #073294">Email</p>
                            <span>{{ user.email }}</span>
                        </li>
                        <li>
                            <p style="font-size: 15px; color: #073294">Username</p>
                            <span>{{ user.username }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}